* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0%;
    padding: 25px;
    background-color: rgba(20, 78, 148, 0.927);
    min-height: 100vh;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
form {
    padding: 15px;
}
.container {
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
}